In [2]:
import pandas as pd
import random
import numpy as np
from sklearn.preprocessing import MinMaxScaler
import matplotlib.pyplot as plt
import copy
import re
import nltk
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics import accuracy_score, confusion_matrix
from sklearn.metrics import f1_score
from sklearn.model_selection import train_test_split

### Using Hierarchical Methodology

In [4]:
df=pd.read_csv("training-v1/offenseval-training-v1.tsv",sep='\t')

In [5]:
tweets=df[["tweet"]]
labels = df[["subtask_a"]]
task_b= df.query("subtask_a == 'OFF'")[["subtask_b"]]
task_c=df.query("subtask_b == 'TIN'")[["subtask_c"]]
tweets1 = copy.deepcopy(tweets)

In [6]:

def remove_pattern(input_txt, pattern):
    r = re.findall(pattern, input_txt)
    for i in r:
        input_txt = re.sub(i, '', input_txt)
        
    return input_txt

In [7]:
tweets1['tidy_tweet'] = np.vectorize(remove_pattern)(tweets['tweet'], "@[\w]*") 
tweets1['tidy_tweet'] = tweets1['tidy_tweet'].str.replace("[^a-zA-Z#]", " ")
tweets1['tidy_tweet'] = tweets1['tidy_tweet'].apply(lambda x: ' '.join([w for w in x.split() if len(w)>3]))
tokenized_tweet = tweets1['tidy_tweet'].apply(lambda x: x.split())
from nltk.stem.porter import *
stemmer = PorterStemmer()
tokenized_tweet = tokenized_tweet.apply(lambda x: [stemmer.stem(i) for i in x])

In [8]:
vectorizer = TfidfVectorizer()
untokenized_data =[' '.join(tweet) for tweet in tokenized_tweet]
vectorizer = vectorizer.fit(untokenized_data)
vectors1 = vectorizer.transform(untokenized_data).toarray()

In [9]:
labels1 = labels['subtask_a'].values.tolist()
vectors2 = list()
for vector, label in zip(vectors1, labels1):
        if label == "OFF":
            vectors2.append(vector)
labels2 = task_b['subtask_b'].values.tolist()
print(len(vectors2))
print(len(labels2))
vectors3= list()
for vector, label in zip(vectors2, labels2):
        if label == "TIN":
            vectors3.append(vector)
labels3 = task_c['subtask_c'].values.tolist()

4400
4400

In [10]:
#vectors2=vectors2[0:9000]
#labels2=labels2[0:9000]
train_vectors, test_vectors, train_labels, test_labels = train_test_split(vectors2, labels2, test_size=0.30)

In [11]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression(multi_class='auto', solver='newton-cg',)

In [12]:
classifier.fit(train_vectors, train_labels)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='newton-cg', tol=0.0001, verbose=0,
                   warm_start=False)

In [13]:
f1score=f1_score(test_labels, classifier.predict(test_vectors), average='macro')

In [14]:
print(f1score)

0.48281806688886336

### Using Non Hierarchical Methodology

In [15]:
tweets=df[["tweet"]]
labels = df[["subtask_a"]]
task_b= df.query("subtask_a == 'OFF'")[["subtask_b"]]
task_c=df[["subtask_c"]]
tweets1 = copy.deepcopy(tweets)

In [16]:

def remove_pattern(input_txt, pattern):
    r = re.findall(pattern, input_txt)
    for i in r:
        input_txt = re.sub(i, '', input_txt)
        
    return input_txt

In [17]:
tweets1['tidy_tweet'] = np.vectorize(remove_pattern)(tweets['tweet'], "@[\w]*") 
tweets1['tidy_tweet'] = tweets1['tidy_tweet'].str.replace("[^a-zA-Z#]", " ")
tweets1['tidy_tweet'] = tweets1['tidy_tweet'].apply(lambda x: ' '.join([w for w in x.split() if len(w)>3]))
tokenized_tweet = tweets1['tidy_tweet'].apply(lambda x: x.split())
from nltk.stem.porter import *
stemmer = PorterStemmer()
tokenized_tweet = tokenized_tweet.apply(lambda x: [stemmer.stem(i) for i in x])

In [18]:
vectorizer = TfidfVectorizer()
untokenized_data =[' '.join(tweet) for tweet in tokenized_tweet]
vectorizer = vectorizer.fit(untokenized_data)
vectors1 = vectorizer.transform(untokenized_data).toarray()

In [19]:
labels1 = labels['subtask_a'].values.tolist()
vectors2 = list()
for vector, label in zip(vectors1, labels1):
        if label == "OFF":
            vectors2.append(vector)
labels2 = task_b['subtask_b'].values.tolist()
print(len(vectors2))
print(len(labels2))
vectors3= list()
for vector, label in zip(vectors2, labels2):
        if label == "TIN":
            vectors3.append(vector)
labels3 = task_c['subtask_c'].values.tolist()

4400
4400

In [20]:
train_vectors, test_vectors, train_labels, test_labels = train_test_split(vectors2, labels2, test_size=0.30)

In [21]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression(multi_class='auto', solver='newton-cg',)

In [22]:
classifier.fit(train_vectors, train_labels)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='newton-cg', tol=0.0001, verbose=0,
                   warm_start=False)

In [23]:
f1score=f1_score(test_labels, classifier.predict(test_vectors), average='macro')

In [24]:
print(f1score)

0.4834151294635302

In [25]:
using no. of mentions

SyntaxError: invalid syntax (<ipython-input-25-053a9a1e5913>, line 1)

In [26]:
tweets=df[["tweet"]]
labels = df[["subtask_a"]]
task_b= df.query("subtask_a == 'OFF'")[["subtask_b"]]
task_c=df.query("subtask_b == 'TIN'")[["subtask_c"]]
tweets1 = copy.deepcopy(tweets)

In [27]:
def remove_pattern(input_txt, pattern):
    r = re.findall(pattern, input_txt)
    for i in r:
        input_txt = re.sub(i, '', input_txt)
        
    return input_txt

In [28]:
tweets1['tidy_tweet'] = np.vectorize(remove_pattern)(tweets['tweet'], "@[\w]*") 
tweets1['tidy_tweet'] = tweets1['tidy_tweet'].str.replace("[^a-zA-Z#]", " ")
tweets1['tidy_tweet'] = tweets1['tidy_tweet'].apply(lambda x: ' '.join([w for w in x.split() if len(w)>3]))
tokenized_tweet = tweets1['tidy_tweet'].apply(lambda x: x.split())
from nltk.stem.porter import *
stemmer = PorterStemmer()
tokenized_tweet = tokenized_tweet.apply(lambda x: [stemmer.stem(i) for i in x])

In [29]:
vectorizer = TfidfVectorizer()
untokenized_data =[' '.join(tweet) for tweet in tokenized_tweet]
vectorizer = vectorizer.fit(untokenized_data)
vectors1 = vectorizer.transform(untokenized_data).toarray()

In [30]:
labels1 = labels['subtask_a'].values.tolist()
vectors2 = list()
for vector, label in zip(vectors1, labels1):
        if label == "OFF":
            vectors2.append(vector)
labels2 = task_b['subtask_b'].values.tolist()
print(len(vectors2))
print(len(labels2))
vectors3= list()
for vector, label in zip(vectors2, labels2):
        if label == "TIN":
            vectors3.append(vector)
labels3 = task_c['subtask_c'].values.tolist()

4400
4400

In [31]:
train_vectors, test_vectors, train_labels, test_labels = train_test_split(vectors2, labels2, test_size=0.30)

In [32]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression(multi_class='auto', solver='newton-cg',)

In [33]:
classifier.fit(train_vectors, train_labels)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='newton-cg', tol=0.0001, verbose=0,
                   warm_start=False)

In [34]:
f1score=f1_score(test_labels, classifier.predict(test_vectors), average='macro')

In [35]:
print(f1score)

0.4761780868358602

In [36]:
using class imbalance

SyntaxError: invalid syntax (<ipython-input-36-1575700542b1>, line 1)

In [37]:
df1=pd.read_csv("training-v1/offenseval-training-v1.tsv",sep='\t')
df1.head()

,id,tweet,subtask_a,subtask_b,subtask_c
0,86426,@USER She should ask a few native Americans wh...,OFF,UNT,NaN
1,90194,@USER @USER Go home you’re drunk!!! @USER #MAG...,OFF,TIN,IND
2,16820,Amazon is investigating Chinese employees who ...,NOT,NaN,NaN
3,62688,"@USER Someone should'veTaken"" this piece of sh...",OFF,UNT,NaN
4,43605,@USER @USER Obama wanted liberals &amp; illega...,NOT,NaN,NaN

In [38]:
df2 = df1.loc[df1.subtask_a == "OFF"]
df2

,id,tweet,subtask_a,subtask_b,subtask_c
0,86426,@USER She should ask a few native Americans wh...,OFF,UNT,NaN
1,90194,@USER @USER Go home you’re drunk!!! @USER #MAG...,OFF,TIN,IND
3,62688,"@USER Someone should'veTaken"" this piece of sh...",OFF,UNT,NaN
5,97670,@USER Liberals are all Kookoo !!!,OFF,TIN,OTH
6,77444,@USER @USER Oh noes! Tough shit.,OFF,UNT,NaN
...,...,...,...,...,...
13223,63482,@USER is advocating for conduct within bounds ...,OFF,TIN,GRP
13227,87416,@USER @USER @USER @USER Liars like the Antifa ...,OFF,TIN,GRP
13235,95338,@USER Sometimes I get strong vibes from people...,OFF,TIN,IND
13237,82921,@USER And why report this garbage. We don't g...,OFF,TIN,OTH
13238,27429,@USER Pussy,OFF,UNT,NaN

In [39]:
df3 =  pd.concat([df1, df2])

In [40]:
df3

,id,tweet,subtask_a,subtask_b,subtask_c
0,86426,@USER She should ask a few native Americans wh...,OFF,UNT,NaN
1,90194,@USER @USER Go home you’re drunk!!! @USER #MAG...,OFF,TIN,IND
2,16820,Amazon is investigating Chinese employees who ...,NOT,NaN,NaN
3,62688,"@USER Someone should'veTaken"" this piece of sh...",OFF,UNT,NaN
4,43605,@USER @USER Obama wanted liberals &amp; illega...,NOT,NaN,NaN
...,...,...,...,...,...
13223,63482,@USER is advocating for conduct within bounds ...,OFF,TIN,GRP
13227,87416,@USER @USER @USER @USER Liars like the Antifa ...,OFF,TIN,GRP
13235,95338,@USER Sometimes I get strong vibes from people...,OFF,TIN,IND
13237,82921,@USER And why report this garbage. We don't g...,OFF,TIN,OTH
13238,27429,@USER Pussy,OFF,UNT,NaN

In [45]:
tweets=df3[["tweet"]]
labels = df3[["subtask_a"]]
task_b= df3.query("subtask_a == 'OFF'")[["subtask_b"]]
tweets1 = copy.deepcopy(tweets)

In [46]:
def remove_pattern(input_txt, pattern):
    r = re.findall(pattern, input_txt)
    for i in r:
        input_txt = re.sub(i, '', input_txt)
        
    return input_txt

In [47]:
tweets1['tidy_tweet'] = np.vectorize(remove_pattern)(tweets['tweet'], "@[\w]*") 
tweets1['tidy_tweet'] = tweets1['tidy_tweet'].str.replace("[^a-zA-Z#]", " ")
tweets1['tidy_tweet'] = tweets1['tidy_tweet'].apply(lambda x: ' '.join([w for w in x.split() if len(w)>3]))
tokenized_tweet = tweets1['tidy_tweet'].apply(lambda x: x.split())
from nltk.stem.porter import *
stemmer = PorterStemmer()
tokenized_tweet = tokenized_tweet.apply(lambda x: [stemmer.stem(i) for i in x])

In [48]:
vectorizer = TfidfVectorizer()
untokenized_data =[' '.join(tweet) for tweet in tokenized_tweet]
vectorizer = vectorizer.fit(untokenized_data)
vectors1 = vectorizer.transform(untokenized_data).toarray()

In [49]:
labels1 = labels['subtask_a'].values.tolist()
vectors2 = list()
for vector, label in zip(vectors1, labels1):
        if label == "OFF":
            vectors2.append(vector)
labels2 = task_b['subtask_b'].values.tolist()
print(len(vectors2))
print(len(labels2))
vectors3= list()
for vector, label in zip(vectors2, labels2):
        if label == "TIN":
            vectors3.append(vector)
labels3 = task_c['subtask_c'].values.tolist()

8800
8800

In [50]:
train_vectors, test_vectors, train_labels, test_labels = train_test_split(vectors2, labels2, test_size=0.30)

In [51]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression(multi_class='auto', solver='newton-cg',)

In [52]:
classifier.fit(train_vectors, train_labels)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='newton-cg', tol=0.0001, verbose=0,
                   warm_start=False)

In [53]:
f1score=f1_score(test_labels, classifier.predict(test_vectors), average='macro')

In [54]:
print(f1score)

0.4891213641988158